.no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.bg-white {
    background-color: #fff;
}

.bg-blue {
    background-color: #3d63e7;
}

.bg-gray {
    background-color: #f2f2f2;
}

.border-blue {
    border: 1px #3d63e7 solid;
}

.border-white {
    border: 1px #fff solid;
}