body {
    min-height: 100vh
}


/* 
    Collapse Arrows
*/

a .fa-chevron-right,
a.collapsed .fa-chevron-down {
    display: none;
}

a.collapsed .fa-chevron-right,
a .fa-chevron-down {
    display: inline-block;
}

a span .fa-chevron-right,
a.collapsed span .fa-chevron-down {
    display: none;
}

a.collapsed span .fa-chevron-right,
a span .fa-chevron-down {
    display: inline-block;
}

a {
    text-decoration: none !important;
    color: #fff;
    &:hover {
        color: #fff;
    }
}

.collapse-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding-left: 15px;
    min-height: 30px;
    line-height: 30px;
}


/* 
    Navigation Styling
*/

nav {
    // background-color: #3d63e7;
    color: #fff;
}

.logo {
    margin-top: -16px;
    margin-bottom: -16px;
}
.logo__image{
    height: 100%;
}
@media (max-width: 767px){
 .logo {
     margin-top: -16px;
     margin-bottom: 0;
 }
}

.search-form-padding {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

.search-form {
    width: 98%;
    margin: auto;
    background-color: #fff;
}

.search-form__input {
    border: none;
    border-radius: 0px;
    &:focus {
        box-shadow: none;
    }
    &::placeholder {
        font-style: italic;
    }
}

.search-form__button {
    background-color: #3d63e7;
    text-align: center;
    color: #fff;
    border: none;
    border: 1px #fff solid;
    padding: 0 20px;
}

.search-form__input__container {
    width: 80%;
}

// .search-form__button__container{
// }

/* 
    Main Content
*/

.main {
    color: #fff
}

.main>div {
    margin-bottom: 10px;
}


/* 
    Twitter Container
*/

#twitter-feed.collapse {
    display: none !important;
}

#twitter-feed.collapse.show {
    display: flex !important;
}

.twitter-header {
    font-size: 12px;
    color: #fff;
}

.twitter-header__span {
    font-size: 14px;
    font-weight: 700;
}

.twitter-header__icon {
    font-size: 16px;
}
#twitter-feed iframe{
    height: 97% !important;
    
}
#twitter-feed{
    min-height: 500px;
}

/* 
    G-Suit
*/

.gsuit-header {
    font-size: 12px;
    color: #fff;
}

.gsuit-header__span {
    font-size: 14px;
    font-weight: 700;
}

.gsuit-header__icon {
    font-size: 16px;
}

.gsuit-body {
    display: flex;
    justify-content: center;
}

.gsuit-list {
    padding: 10px;
}

.gsuit-list__item {
    padding: 5px;
    width: 90px;
    height: 105px;
    background-color: #fff;
    display: block;
    margin-left: 4px;
    float: left;
    text-decoration: none !important;
    &:hover {
        box-shadow: -0.5px 0.5px 6px #000000;
    }
}

.gsuit-list__item__image {
    width: 64px;
    height: 64px;
}

.gsuit-list__item__text {
    text-align: center;
    font-size: 12px;
    max-width: 74px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

#hidden-gsuit-icons.show {
    display: inline !important;
}

@media(max-width:767px) {
    #hidden-gsuit-icons {
        display: inline !important;
    }
}

.gsuit-footer {
    a {
        display: block;
        padding: 4px;
        height: 100%;
        width: 100%;
        font-size: 14px;
        line-height: 14px;
        color: #3d63e7;
        text-decoration: none;
    }
}


/* 
    School 
*/

.school-header {
    font-size: 12px;
    color: #fff;
}

.school-header__span {
    font-size: 14px;
    font-weight: 700;
}

.school-header__icon {
    font-size: 16px;
}

.school-body {
    display: flex;
    justify-content: center;
}

.school-list {
    padding: 10px;
}

.school-list__item {
    height: 105px;
    width: 90px;
    margin-right: 4px;
    background-color: #fff;
    display: block;
    float: left;
    text-decoration: none !important;
    &:hover {
        box-shadow: -0.5px 0.5px 6px #000000;
    }
}

.school-list__item__image {
    max-width: 64px;
    max-height: 64px;
}

.school-list__item__text {
    text-align: center;
    font-size: 12px;
    max-width: 74px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}


#hidden-school-icons.show {
    display: inline !important;
}

@media(max-width:767px) {
    #hidden-school-icons {
        display: inline !important;
    }
}

.school-footer {
    a {
        display: block;
        padding: 4px;
        height: 100%;
        width: 100%;
        font-size: 14px;
        line-height: 14px;
        color: #3d63e7;
        text-decoration: none;
    }
}

.more-less.collapsed .more,
.more-less .less {
    display: inline-block
}

.more-less.collapsed .less,
.more-less .more {
    display: none;
}

/* 
    Accordion
*/

// .accordion {}
.accordion__header {
    font-size: 12px;
    color: #fff;
    a {
        padding-left: 15px;
        min-height: 30px;
        position: relative;
        padding-top: 0;
        display: block;
        height: 100%;
        width: 100%;
        color: #fff;
        text-decoration: none;
    }
}

@media (max-width: 767px) {
    .accordion__header a {
        padding-top: 0;
        min-height: 30px;
        line-height: 30px;
    }
    .accordion__list__item {
        min-height: 30px;
    }
}

// .accordion__list {}
.accordion__list__item {
    display: flex;
    font-size: 12px;
    padding-left: 10px;
    min-height: 40px;
    line-height: 40px;
    color: #7e7e7e;
    align-items: center;
    a {
        color: #7e7e7e;
        text-decoration: none;
        display: block;
        width: 100%;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 20px;
        span {
            position: absolute;
            top: 50%;
            right: 2px;
            font-size: 10px;
            transform: translate(0, -50%);
        }
        i {
            position: absolute;
            top: 10px;
            left: 2px;
            transform: translate(0, -50%);
        }
    }
}

@media (min-width:768px) and (max-width:900px){
    .accordion__list__item{ 
        a {
            font-size: 10px;
        }
    }
}

.accordion__header a{
    display: block;
}


/* 
    OverWrittern Bootsstrap
*/
$pixels:5px; 
.mb-1{
    margin-bottom: $pixels !important;
}
@include media-breakpoint-only(md) {
    .pl-md-1{
        padding-left: $pixels !important;
    }
    
    .pr-md-1 {
        padding-right: $pixels !important;
    }
}